/src/main/webapp/lib
/src/main/webapp/static
/src/main/webapp/temp
!/src/main/webapp/Web-INF
!/src/main/webapp/base.js
!/src/main/webapp/index.html
!/src/main/webapp/login.html
!/src/main/webapp/note_add.html
!/src/main/webapp/note_move.html
!/src/main/webapp/notebook_add.html
!/src/main/webapp/register.html

