<?xml version="1.0" encoding="UTF-8" ?>
<!-- XXXMapper.xml 在entity 包中  -->  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"   
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<!--
 	namespace 的值是 XXXMapper 接口
 	 每个Mapper 接口对应一个配置文件  
  -->
<mapper namespace="dao.NoteBookDao">
	<select id="findByUserId" parameterType="String"
		resultType="entity.NoteBook">
		select * from note_book where user_id=#{id} 
			order by created_at desc
	</select>
	<insert id="addNoteBook" parameterType="entity.NoteBook">
		insert into note_book (note_book_id , user_id , note_book_type_id , 
				note_book_name , explaination , created_at) 
		values( #{note_book_id} , #{user_id} , #{note_book_type_id} , 
				#{note_book_name} , #{explaination} , #{created_at})
	</insert>
</mapper>